@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iranSansWOFF2";
  src: url(./font/IRANSansWeb\(FaNum\).woff2);
}
@font-face {
  font-family: "iranSansWOFF";
  src: url(./font/IRANSansWeb\(FaNum\).woff);
}
@font-face {
  font-family: "iranSansEOT";
  src: url(./font/IRANSansWeb\(FaNum\).eot);
}
@font-face {
  font-family: "iranSansTTF";
  src: url(./font/IRANSansWeb\(FaNum\).ttf);
}

body{
  direction: rtl;
  font-family: "iranSansWOFF2" , "iranSansWOFF" , "iranSansEOT" ,"iranSansTTF";
}